<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android" 
		id="cordova-plugin-ibizmobkit"
		version="1.0.0">
	<name>IBizMobKit</name>
    <description>IBizMobKit Plugin</description>
	<license>Apache License v2.0</license>
	<keywords>ibizsys</keywords>
    <repo>https://github.com/ibizsys/ibizmobkit.git</repo>
    <issue>https://github.com/ibizsys/ibizmobkit/issues</issue>
    
    <dependency id="cordova-plugin-file-transfer" version="^4.0.0" />
    <dependency id="cordova-plugin-geolocation" version="^2.2.0" />
    <dependency id="cordova-plugin-camera" version="^2.2.0" />
    <dependency id="cordova-plugin-media" version="^2.3.0" />
    
	<js-module src="www/ibizmobkit.js" name="ibizmobkit">
        <merges target="window.plugins.ibizmobkit" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ibizmobkit">
                <param name="ios-package" value="ibizmobkit" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/SSKeychain.h" />
        <source-file src="src/ios/SSKeychain.m" />
		<header-file src="src/ios/SSKeychainQuery.h" />
        <source-file src="src/ios/SSKeychainQuery.m" />
        
        <header-file src="src/ios/IBizMobKit.h" />
        <source-file src="src/ios/IBizMobKit.m" />

        <framework src="Security.framework" />
    </platform>
</plugin>